<a href="https://colab.research.google.com/github/fdavenport/CIVE480A6-climate-change-impacts/blob/main/lectures/01_CIVE_480A6_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## CIVE 480A6: Climate Change Risks and Impacts
### Intro to Python, Colab, and Jupyter Notebooks

In [1]:
# This is a code cell for executing calculations
# You can add comments to this cell using a # symbol. (Anything after the # will be ignored)

# after you "run" the cell, the output of your code cell will appear below the cell

2+1

3

In [2]:
# Try typing your own calculation and running this cell:

This is a text cell. You can use text formatting like **bold**, *italic*, add images, write equations ($y = mx + b$), etc.

In [3]:
# assign a variable with today's temperature forecast
temperature = 95

In [4]:
# practice calculations to convert the temperature value to celsius
temperature_celsius = (temperature - 32) * (5/9)

print(temperature_celsius)

35.0

In [5]:
# there are different variable types

# integer type
type(temperature)

int

In [6]:
# float type (floats are decimal values)
type(temperature_celsius)

float

In [7]:
# another type of variable is a string. Strings are made of alphanumeric characters and symbols
temperature_location = "Fort Collins"

type(temperature_location)

str

In [8]:
# You can convert the variable type if needed
float(temperature)

95.0

In [9]:
str(temperature)

'95'

In [10]:
# here's an example of combining different variable types
print("Today's temperature forecast in " + temperature_location + " is " + str(temperature) + " degrees F")

Today's temperature forecast in Fort Collins is 95 degrees F

In [11]:
# if you want to learn more about a function and how it works, you can use the built in documentation
??max

In [12]:
# or
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.